/AdminFacade.class
/ClientFacade.class
/CompanyFacade.class
/CustomerFacade.class
/ClientType.class
/LoginManager.class
/CompaniesController.class
/CustomersController.class
/UsersController.class
/CouponsController.class
/purchasesController.class
/PurchasesController.class
